# Python Virtual Environment
.venv/
venv/
*/.venv/
*/venv/

# Python Cache Files
__pycache__/
*.py[cod]
*$py.class

# IDE (Code Editor) Settings Files
# OUR MISTAKE WAS HERE, NOW FIXED
.idea/
.vscode/
*.iml

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Python Build Artifacts
build/
dist/
*.egg-info/

# pre-commit cache
.pre-commit-cache/

# OS (Operating System) Junk
.DS_Store
